body { 
    margin : 0px ;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}
.container {
    display: flex;
    margin-top : 50px ;
    border : 2px solid white;
    height: 500px ;
    width : 500px ;
    margin-left: auto;
    margin-right: auto; 
}
.header {
    display: flex;
    color : white ;
    font-weight: 900;
    justify-content: center;
    font-size: 32px;
    font-family: "Brush Script MT",cursive ,serif ;
    padding : 15px ; 
}
.footer {
    display: flex;
    color: white;
    justify-content: center;
    padding : 10px ;
    font-size: 15px;
    font-family: "Brush Script MT",cursive,serif ;
    margin-top: auto;
}
button  {
    width: 100px;
    height: 45px; 
    border: 2px solid red;
    cursor: grab;
    color : white;
    border-radius: 10px;
    background-color: #872164;
    border-style: none;
}
.buttons {
    padding : 20px ;
    gap : 50px; 
    display: flex;
    justify-content: center;
}