body { 
    display: flex;
    justify-content: center;
    background-color: black;
}
.container {
    display: flex;
    margin-top : 50px ;
    border : 2px solid white;
    height: 500px ;
    width : 500px ;
}
